
word_feature_extract/Gamora/
word_feature_extract/Gamora/abc/abc
exp_tool/RevSCA-2.0/Benchmarks/128_128_dataset/*
artifact/ReVEAL/10_def
artifact/ReVEAL/32_compress2rs
artifact/ReVEAL/32_dc2
multgen/exmaples/
multgen/build/
RefSCAT/
artifact/ReVEAL/amulet2.0/build
artifact/ReVEAL/amulet2.0/amulet
artifact/ReVEAL/our/cnf_*
exp_tool/kissat/kissat-4.0.1-linux-amd64
exp_tool/kissat-sweep
exp_tool/yosys
abc
abc1
abc2
abc3
# abc
word_feature_extract/Gamora_abc/abc/abc
word_feature_extract/Gamora-master/Gamora-master/abc/abc
word_feature_extract/Gamora-master/Gamora-master/abc/abc1

artifact/ReVEAL/64_compress2rs
artifact/ReVEAL/64_dch
artifact/ReVEAL/64_dc2
artifact/ReVEAL/64_mfs
artifact/ReVEAL/64_resyn3
artifact/ReVEAL/128_dc2
artifact/ReVEAL/128_mfs
artifact/ReVEAL/128_resyn3
artifact/ReVEAL/256_dc2
artifact/ReVEAL/glibc*
artifact/ReVEAL/256_resyn3
artifact/ReVEAL/64_lazyman
artifact/ReVEAL/64_sopb
artifact/ReVEAL/32*
artifact/ReVEAL/64*
artifact/ReVEAL/128*
artifact/ReVEAL/256*
exp_tool/RevSCA-2.0/Benchmarks/*dataset
exp_tool/RevSCA-2.0/Benchmarks/*dataset_multgen
exp_tool/RevSCA-2.0/Benchmarks/*dataset_total
exp_tool/RevSCA-2.0/Benchmarks/*dataset_adder
exp_tool/yosys/.git

exp_tool/abc/*.ps
exp_tool/abc/*.aig
exp_tool/abc/*.pdf
exp_tool/abc/abc
exp_tool/abc/.git
exp_tool/Benchmark/Benchmarks
exp_tool/Benchmark/abc_src
REVEAL/.git
artifact/ReVEAL/src/related_work/abc/abc

artifact/ReVEAL/sect5_eval/benchmarks/kojevnikov/kojevnikov-2048.aig
REVEAL/dataset_esyn
REVEAL/dataset/csa/mult8_7nm_mapped_root
REVEAL/data_4_ml_train/*
REVEAL/data_4_ml_test/*
REVEAL/.dataset_4_ml_train
REVEAL/.processed_data_test
REVEAL/.processed_data_train
REVEAL/dataset_ml_train/*
REVEAL/dataset_train/*
REVEAL/dump/*
REVEAL/figures
REVEAL/models/*
REVEAL/processed_data_4_test/*
REVEAL/processed_data_4_train/*
REVEAL/data_4_ml_test*
REVEAL/data_4_ml_train*
REVEAL/dataset_ml_train*
REVEAL/dataset_ml_test*
REVEAL/processed_data*

artifact/ReVEAL/exp1/256
artifact/ReVEAL/exp1/compress2rs
artifact/ReVEAL/exp4/cnf*
artifact/ReVEAL/exp6/cnf*